# Ignore OS X metadata.
.DS_Store

# Ignore PhpStorm project files.
/docroot/.idea

# Ignore configuration files that may contain sensitive information.
/docroot/sites/*/settings.local.php

# Ignore paths that contain user-generated content.
/docroot/sites/*/files
/docroot/sites/*/private

# Ignore SimpleTest multi-site environment.
/docroot/sites/simpletest

# Dev
/docroot/sites/*/libraries/local
/docroot/sites/*/modules/local
/docroot/sites/*/themes/local

